In [45]:
%load_ext sql #connecting mysql to jupyternotebook by using mysql connector
%sql mysql+mysqlconnector://root:root@localhost/spotify_db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [ ]:
%%sql #creating db
create database spotify_db;

In [11]:
%%sql #creating table to store data
create table if not exists spotify_track(
    id int auto_increment primary key,
    track_name varchar(255),
    artist varchar(225),
    album varchar(225),
    popularity int,
    duration_minutes float)

   mysql+mysqlconnector://root:***@localhost/natsel
 * mysql+mysqlconnector://root:***@localhost/spotify_db
0 rows affected.
0 rows affected.

[]

In [3]:
%%sql 
use spotify_db;

 * mysql+mysqlconnector://root:***@localhost/spotify_db
0 rows affected.

[]

In [12]:
%%sql # just checking databases and already created a target database
show databases;

 * mysql+mysqlconnector://root:***@localhost/spotify_db
9 rows affected.

[('human_resource',),
 ('information_schema',),
 ('mysql',),
 ('natsel',),
 ('performance_schema',),
 ('practice',),
 ('spotify_db',),
 ('sys',),
 ('world',)]

In [4]:
%%sql
show tables;

 * mysql+mysqlconnector://root:***@localhost/spotify_db
1 rows affected.

[('spotify_track',)]

In [5]:
%%sql # am deleting the old data to aviod confusion while processing new data
truncate table spotify_track;

 * mysql+mysqlconnector://root:***@localhost/spotify_db
0 rows affected.

[]

In [13]:
%%sql # by using python script am  inserted datas to this database 
select * from spotify_track;

 * mysql+mysqlconnector://root:***@localhost/spotify_db
19 rows affected.

[(1, 'Your Share Of The Night', 'Gesaffelstein', 'Gamma', 31, 3.16443),
 (2, 'Digital Slaves', 'Gesaffelstein', 'Gamma', 32, 1.90555),
 (3, 'The Urge', 'Gesaffelstein', 'Gamma', 29, 2.41162),
 (4, 'Hysteria', 'Gesaffelstein', 'Gamma', 30, 1.91753),
 (5, 'Mania', 'Gesaffelstein', 'Gamma', 26, 2.5841),
 (6, 'Psycho', 'Gesaffelstein', 'Gamma', 26, 2.06725),
 (7, 'Tyranny', 'Gesaffelstein', 'Gamma', 26, 2.63773),
 (8, 'Lost Love', 'Gesaffelstein', 'Gamma', 23, 2.55033),
 (9, 'Reset', 'Gesaffelstein', 'Hyperion', 26, 3.424),
 (10, 'Ever Now', 'Gesaffelstein', 'Hyperion', 36, 1.63443),
 (11, 'Blast Off (feat. Pharrell Williams)', 'Gesaffelstein', 'Hyperion', 33, 3.92),
 (12, 'So Bad (feat. HAIM)', 'Gesaffelstein', 'Hyperion', 34, 3.60933),
 (13, 'Vortex', 'Gesaffelstein', 'Hyperion', 21, 2.62288),
 (14, 'Humanity Gone', 'Gesaffelstein', 'Hyperion', 25, 10.7031),
 (15, 'So Bad (feat. HAIM)', 'Gesaffelstein', 'Hyperion', 34, 3.60933),
 (16, 'Hurt You', 'The Weeknd', 'My Dear Melancholy,', 66, 3.83377),
 (17, 'Try Me', 'The Weeknd', 'My Dear Melancholy,', 64, 3.6851),
 (18, 'Hurt You', 'The Weeknd', 'My Dear Melancholy,', 66, 3.83377),
 (19, 'Obsession', 'Gesaffelstein', 'Aleph', 37, 4.15622)]

In [30]:
%%sql #Finding Total Number of Gesaffelstein and The weeknd  Tracks in Your Database
SELECT Artist, COUNT(*) AS Total_Tracks 
FROM spotify_track 
WHERE Artist IN ('Gesaffelstein', 'The Weeknd') 
GROUP BY Artist;

 * mysql+mysqlconnector://root:***@localhost/spotify_db
2 rows affected.

[('Gesaffelstein', 15), ('The Weeknd', 2)]

In [31]:
%%sql # finding popular song of Gesaffelstein
SELECT Track_Name, Popularity 
FROM spotify_track 
WHERE Artist = 'Gesaffelstein' AND Popularity > 20
ORDER BY Popularity DESC;

 * mysql+mysqlconnector://root:***@localhost/spotify_db
15 rows affected.

[('Obsession', 37),
 ('Ever Now', 36),
 ('So Bad (feat. HAIM)', 34),
 ('Blast Off (feat. Pharrell Williams)', 33),
 ('Digital Slaves', 32),
 ('Your Share Of The Night', 31),
 ('Hysteria', 30),
 ('The Urge', 29),
 ('Mania', 26),
 ('Psycho', 26),
 ('Tyranny', 26),
 ('Reset', 26),
 ('Humanity Gone', 25),
 ('Lost Love', 23),
 ('Vortex', 21)]

In [29]:
%%sql # finding popularity between two artists
SELECT Track_Name, Popularity 
FROM spotify_track 
WHERE Artist = 'The Weeknd' AND Popularity > 20
ORDER BY Popularity DESC;

 * mysql+mysqlconnector://root:***@localhost/spotify_db
2 rows affected.

[('Hurt You', 66), ('Try Me', 64)]

In [23]:
%%sql # finding duplicate values
SELECT Track_Name, Artist, Album, COUNT(*) AS duplicate_count
FROM spotify_track
GROUP BY Track_Name, Artist, Album
HAVING COUNT(*) > 1;

 * mysql+mysqlconnector://root:***@localhost/spotify_db
2 rows affected.

[('So Bad (feat. HAIM)', 'Gesaffelstein', 'Hyperion', 2),
 ('Hurt You', 'The Weeknd', 'My Dear Melancholy,', 2)]

In [27]:
%%sql # deleting duplicate values
DELETE t1 FROM spotify_track t1
JOIN spotify_track t2 
ON t1.Track_Name = t2.Track_Name 
AND t1.Artist = t2.Artist 
AND t1.Album = t2.Album 
AND t1.id > t2.id;

 * mysql+mysqlconnector://root:***@localhost/spotify_db
0 rows affected.

[]

In [33]:
%%sql # checking manually for deleted datas
select * from spotify_track;

 * mysql+mysqlconnector://root:***@localhost/spotify_db
17 rows affected.

[(1, 'Your Share Of The Night', 'Gesaffelstein', 'Gamma', 31, 3.16443),
 (2, 'Digital Slaves', 'Gesaffelstein', 'Gamma', 32, 1.90555),
 (3, 'The Urge', 'Gesaffelstein', 'Gamma', 29, 2.41162),
 (4, 'Hysteria', 'Gesaffelstein', 'Gamma', 30, 1.91753),
 (5, 'Mania', 'Gesaffelstein', 'Gamma', 26, 2.5841),
 (6, 'Psycho', 'Gesaffelstein', 'Gamma', 26, 2.06725),
 (7, 'Tyranny', 'Gesaffelstein', 'Gamma', 26, 2.63773),
 (8, 'Lost Love', 'Gesaffelstein', 'Gamma', 23, 2.55033),
 (9, 'Reset', 'Gesaffelstein', 'Hyperion', 26, 3.424),
 (10, 'Ever Now', 'Gesaffelstein', 'Hyperion', 36, 1.63443),
 (11, 'Blast Off (feat. Pharrell Williams)', 'Gesaffelstein', 'Hyperion', 33, 3.92),
 (12, 'So Bad (feat. HAIM)', 'Gesaffelstein', 'Hyperion', 34, 3.60933),
 (13, 'Vortex', 'Gesaffelstein', 'Hyperion', 21, 2.62288),
 (14, 'Humanity Gone', 'Gesaffelstein', 'Hyperion', 25, 10.7031),
 (16, 'Hurt You', 'The Weeknd', 'My Dear Melancholy,', 66, 3.83377),
 (17, 'Try Me', 'The Weeknd', 'My Dear Melancholy,', 64, 3.6851),
 (19, 'Obsession', 'Gesaffelstein', 'Aleph', 37, 4.15622)]

In [34]:
%%sql # finding size of the track

-- Longest Tracks
SELECT Track_Name, Duration_Minutes 
FROM spotify_track 
WHERE Artist = 'Gesaffelstein' 
ORDER BY Duration_Minutes DESC 
LIMIT 5;

-- Shortest Tracks
SELECT Track_Name, Duration_Minutes 
FROM spotify_track 
WHERE Artist = 'Gesaffelstein' 
ORDER BY Duration_Minutes ASC 
LIMIT 5;

 * mysql+mysqlconnector://root:***@localhost/spotify_db
5 rows affected.
5 rows affected.

[('Ever Now', 1.63443),
 ('Digital Slaves', 1.90555),
 ('Hysteria', 1.91753),
 ('Psycho', 2.06725),
 ('The Urge', 2.41162)]

In [40]:
%%sql #finding least Popularity
SELECT Track_Name, Popularity 
FROM spotify_track 
WHERE Artist = 'Gesaffelstein' 
ORDER BY Popularity ASC 
LIMIT 10;

 * mysql+mysqlconnector://root:***@localhost/spotify_db
10 rows affected.

[('Vortex', 21),
 ('Lost Love', 23),
 ('Humanity Gone', 25),
 ('Mania', 26),
 ('Psycho', 26),
 ('Tyranny', 26),
 ('Reset', 26),
 ('The Urge', 29),
 ('Hysteria', 30),
 ('Your Share Of The Night', 31)]

In [42]:
%%sql #Finding Artists Who Have Songs Longer than 5 Minutes
SELECT Artist, Track_Name, Duration_Minutes 
FROM spotify_track 
WHERE Duration_Minutes > 5;

 * mysql+mysqlconnector://root:***@localhost/spotify_db
1 rows affected.

[('Gesaffelstein', 'Humanity Gone', 10.7031)]

In [43]:
%%sql #Find the Average Popularity of Songs

SELECT AVG(Popularity) AS Average_Popularity 
FROM spotify_track;

 * mysql+mysqlconnector://root:***@localhost/spotify_db
1 rows affected.

[(Decimal('33.2353'),)]

In [44]:

%%sql # Find the Most Frequent Artists in Your Dataset only
SELECT Artist, COUNT(*) AS Track_Count 
FROM spotify_track 
GROUP BY Artist 
ORDER BY Track_Count DESC 
LIMIT 10;

 * mysql+mysqlconnector://root:***@localhost/spotify_db
2 rows affected.

[('Gesaffelstein', 15), ('The Weeknd', 2)]